.blogFilterWrapper {
	margin-bottom: 1em;

	@media screen and (max-width: 767px){
	}

	@media screen and (min-width: 768px){
		float: right;
		margin-top: 120px;
		width: 20%;
	}

	ul{
		list-style: none;
		padding: 0;
	}

	li{
		font-size: 11px;
		margin: 0 0 0 10px;
	}
}

.blogFilter{
		@media screen and (max-width: 767px){
			float: left;
			width: 48%;
		}
	}

	.blogFilterLeft {
		@media screen and (max-width: 767px){
			padding-right: 4%;
		}
	}