#v65-modalContentHeader{
	background: $grey-dark;
}

.featurePromo{
	text-align: center;

	.v65-pod{
		border:{
			bottom: 1px solid $grey;
			top: 1px solid $grey;
		}
		display: inline-block;
		margin-bottom: 35px;
	}

	.v65-podDescription{
		padding: 6px 0;

		p{
			margin: 0;
		}
	}
}

.leftCol{
	@media screen and (min-width: 480px) and (max-width: 800px){
		margin: 0 auto;
		width: 440px;
	}

	@media screen and (min-width: 801px){
		float: left;
		margin-right: 5%;
		width: 49%;
	}
}

.rightCol{
	@media screen and (min-width: 480px) and (max-width: 800px){
		margin: 0 auto;
		width: 440px;
	}

	@media screen and (min-width: 801px){
		float: right;
		width: 46%;
	}
}

	.pageContent{
		@media screen and (max-width: 767px){
			padding: 1em;
		}
		
		@media screen and (min-width: 768px){
			padding: 3em;
		}
	}

/* ----- a. Homepage Styles ----- */
@import 'content_home';

/* ----- b. Page Styles ----- */
@import 'content_page';

/* ----- c. Store Styles ----- */
@import 'content_store';