.backToTop{
	background: $grey-dark;
	bottom: 1em;
	color: $white;
	border: 1px solid $grey-light;
	border-radius: 50%;
	display: none;
	height: 5em;
	line-height: 5em;
	opacity: 0.6;
	position: fixed;
	right: 1em;
	text:{
		align: center;
		decoration: none;
	}
	width: 5em;
	z-index: 1000;
}

.pageWrapper{
	@media screen and (min-width: 768px){
		float: right;
		width: 75%;
	}

	.page{
		@media screen and (min-width: 768px){
			float: left;
			width: 65%;
		}
	}
	
	.rightFeature{
		background: image-url('bg-raven.png') top right no-repeat;
		background-size: contain;
		float: right;
		min-height: 110px;
		margin: 120px 0 0 5%;
		width: 30%;

		img{
			border: 20px solid white;
			box-shadow: 0 0 15px black;
			max-width: 80%;

			@media screen and (max-width: 767px){
				max-width: 350px;
			}
		}

		@media screen and (max-width: 767px){
			background: none;
			float: none;
			margin: 0;
			min-height: inherit;
			width: auto;
		}
	}
}

.col2{
	@media screen and (min-width: 581px){
		float: left;
		margin-right: 4%;
		width: 48%;
	}

	& + .col2{
		margin-right: 0;
	}
}

.v65-featureRight, .v65-right, 
.v65-featureLeft, .v65-left, 
.v65-border{
	@include boxSizing;
}

.leftFeature{
	font-size: 12px;

	.v65-podTitle{
		font-weight: bold;
	}

	.v65-podDescription{}
}

.narrowLeftCol{
	@media screen and (min-width: 768px){
		float: left;
		margin-right: 7%;
		width: 17.5%;
	}

	h3{
		border:{
			bottom: 3px solid $headingColor;
			top: 3px solid $headingColor;
		}
		clear: both;
		display: inline-block;
		font-size: 28px;
		margin-bottom: 35px;
		padding: 0.22em 0;
		text-transform: uppercase;

		@media screen and (max-width: 767px){
			display: none;		
		}
	}
}