.featureImage{
	.v65-pod{
		border: 20px solid $white;
		box-shadow: 0 0 15px $black;
	}
}

.homepageText{
	font-size: 16px;
	// margin-bottom: 2em;

	// @media screen and (max-width: 700px){
	// 	padding: 0 4%;
	// }

	// @media screen and (min-width: 701px){
	// 	float: left;
	// 	padding: 0 4% 4%;
	// 	width: 52%;
	// }
}

.homepageFeatures{
	margin-top: 1.5em;

	@media screen and (min-width: 801px){
		clear: both;
	}

	.podWrapper{
		background: $white;
		background: rgba($white, 0.2);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 4.5%;

		&:first-child{
			@media screen and (min-width: 801px){
				margin-right: 2%;
			}
		}

		@media screen and (max-width: 479px){
			margin-bottom: 1em;
		}

		@media screen and (min-width: 480px) and (max-width: 800px){
			margin: 0 auto 1em;
			width: 440px;
		}

		@media screen and (min-width: 801px){
			float: left;
			width: 49%;
		}
	}

	.v65-pod{
		border: {
			bottom: 1px solid #b3b3b3;
			top: 1px solid #b3b3b3;
		}
		padding: 37px 0;
	}

	.v65-podImage{
		float: left;
		line-height: 0;
		width: 35%;
	}

	.v65-podTitle, .v65-podDescription{
		float: right;
		width: 59%;
	}

	.v65-podTitle{
		@extend h4;
	}

	h5{
		margin-bottom: 0;
	}
}

.homepageProductGroup {
	margin: 0 0 2em;

	@media screen and (max-width: 700px){
		padding: 0 4%;
	}

	@media screen and (min-width: 701px){
		float: left;
		padding: 0 4% 4% 0;
		width: 36%;
	}

	.v65-productGroup-products{
		text-align: left;
		width: 100%;
	}

		.v65-productGroup-title{
			color: $headingFontColor;
			font-family: $headingFontFamily;
			font-size: 26px;
			line-height: 1.2;
			margin: 0.25em  0 0.5em;
		}

		.v65-productGroup-teaser{
			float: none;
			margin: 0;
			width: 100%;
		}

		.v65-productGroup-product{
			margin: 0 0 1em;
			width: 100%;
		}

			.v65-product-photo{
				float: left;
				width: auto;
			}
}

#slider{
	height: 0;
	padding-top: 35%;
	overflow: hidden;
	width: 100%;

	.nivo-main-image{
		position: absolute !important;
	}
}