footer{
	color: $footerFontColor;
	font-family: $univers;
	margin-top: 130px;
	width: 100%;

	.home &{
		margin-top: 20px;
	}

	.footerContentBg{
		background: $black;
		padding: 30px 0 1.5em;
	}

	.footerBg{
		background: image-url('footerBg-page.png') top center repeat-x;
		background-size: cover;
		height: 82px;

		.home &{
			background: image-url('footerBg-home.png') top center repeat-x;
		}
	}

	.tree{
		background: image-url('footerBg-tree.png') top right no-repeat;
		height: 210px;
		position: absolute;
		right: 0;
		top: -240px;
		width: 442px
	}

	.contactDetails{
		@media screen and (min-width: 768px){
			float: right;
			text-align: right;
			width: 40%;

			.v65-podTitle{
				display: inline;
			}
		}

	}

	nav{
		margin-bottom: 0;

		@media screen and (min-width: 768px){
			float: left;
			width: 60%;	
		}
	}

	.legal{
		clear: left;
		font-size: 0.917em;

		li:first-child{
			margin-left: 0;
		}
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;

		@media screen and (min-width: 768px){
			margin-bottom: 0.5em;
		}
	}

	li{
		@media screen and (max-width: 767px){
			border-top: 1px solid $grey-light;
			line-height: 44px;
		}

		@media screen and (min-width: 768px){
			display: inline;
			margin-left: 0.5em;

			&:before{
				content: "|";
			}

			&:first-child{
				&:before{
					content: "";
				}

				a{
					margin-left: 0;
				}
			}
		}

		a{
			color: $footerFontColor;
			font-size: 0.917em;
			position: relative;

			@media screen and (max-width: 767px){
				display: block;
				width: 100%;
			}

			@media screen and (min-width: 768px){
				display: inline-block;
				margin-left: 0.5em;
			}

			&:hover{
				color: $footerFontColorHover;
			}
		}
	}

	.footerTools{
		float: right;
	}

	.phone, .email, .map{
		a:hover{
			text-decoration: none;
		}
	}

	a{
		color:$footerFontColor;
	}
}