header.primary{
	background: $black;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	z-index: 10;

	.social{
		float: right;
		height: 3em;
		line-height: 3;
		margin-right: 10px;
		
		@media screen and (max-width: 580px){
			display: none;
		}

		@media screen and (min-width: 581px) and (max-width: 850px){
			margin: 11px 10px 11px 0;
		}

		@media screen and (min-width: 851px){
			margin-top: 22px;
		}
	}
}

	#user-tools {
		z-index: 1000;

		@media screen and (max-width: 580px){
			border-bottom: 1px solid $black;
		}

		@media screen and (min-width: 581px) and (max-width: 850px){
			margin: 11px 10px 11px 0;
		}

		@media screen and (min-width: 851px){
			margin-top: 22px;
		}

		a {
			color: $headerFontColor;
		}
	}
	
	#user-tools, .v65-yourAccount, .v65-editProfile, .v65-login, .v65-logout{
		@media screen and (min-width: 581px){
			width: auto;
		}
	}

	.v65-login, .v65-logout{
		@media screen and (min-width: 581px){
			border-right: 1px solid #666;
			margin-right: 10px;
			padding-right: 10px;
		}
	}

	.contactLink{
		@media screen and (max-width: 580px){
			display: none;
		}
		
		@media screen and (min-width: 581px){
			border-left: 1px solid #666;
			display: inline-block;
			height: 12px;
			line-height: 12px;
			margin-left: 10px;
			padding-left: 10px;
		}
	}

	#v65-modalCart{
		@media screen and (min-width: 581px){
			display: inline-block;
			position: relative;
		}
	}

	.social{
		ul{
			padding: 0;
		}

		li{
			list-style: none;
			display: inline-block;
		}
	}

	.logo{
		background:{
			image: image-url($logo);
			position: center center;
			repeat: no-repeat;
			size: contain;
		}
		border: 0;
		display: block;
		height: 65px;
		padding: 0;
		position: relative;

		@media screen and (-webkit-min-device-pixel-ratio: 1.5),	(min-device-pixel-ratio: 1.5){
			background-image: image-url($logo-retina);
		}
		
		@media screen and (max-width: 850px){
			clear: both;
			margin: 0.5em auto;
		}

		@media screen and (min-width: 851px){
			float: left;
			margin: 35px 0;
			width: 370px;
		}
	}