header.primary{
	background: $black;
	font-family: $univers;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	z-index: 10;
}

	#user-tools {
		z-index: 1000;

		@media screen and (max-width: 580px){
			border-bottom: 1px solid $black;
		}

		@media screen and (min-width: 581px) and (max-width: 850px){
			margin: 11px 10px 11px 0;
		}

		@media screen and (min-width: 851px){
			margin-top: 22px;
		}

		a {
			color: $headerFontColor;
		}
	}

	.logo{
		background:{
			image: image-url($logo);
			position: center center;
			repeat: no-repeat;
			size: contain;
		}
		border: 0;
		display: block;
		height: 65px;
		padding: 0;
		position: relative;

		@media screen and (-webkit-min-device-pixel-ratio: 1.5),	(min-device-pixel-ratio: 1.5){
			background-image: image-url($logo-retina);
		}
		
		@media screen and (max-width: 850px){
			clear: both;
			margin: 0.5em auto;
		}

		@media screen and (min-width: 851px){
			float: left;
			margin: 35px 0;
			width: 370px;
		}
	}