// Colors
$grey: #575757;
$grey-light: #ccc;
$grey-dark: #333;
$black: #000;
$white: #fff;
$offWhite: #fcf9e9;
$red: #cb3016;
$red-dark: #c0321e;

$backgroundColor: $offWhite;
$headingFontColor: $grey-dark; // Default Heading Font Color
$headerFontColor: $offWhite; //Font Color outside the container
$headerFontColorHover: $black; // Hover font color outside the container

$navLinkColor: $black; //Font Color for main navigation
$subNavLinkColor: $black; //Font Color for sub navigation

$homepageContentColor: $white; // Homepage content background color
$contentBackgroundColor: $white; //Content background color

$footerColor: $grey; //Footer Color
$footerLink: $grey-light; // Footer Link
$footerLinkHover: $white; // Footer Link Hover

$footerFontColor: $white; //Font Color outside the container
$footerFontColorHover: $offWhite; // Hover font color outside the container

$boxShadowColor: #999; // Box Shadow Color

$logo: 'logo.png';
$logo-retina: 'logo@2x.png';

// Global Fonts
$din-light: "DIN Next W01 Light", sans-serif;
$din-black: "DIN Next W01 Black", sans-serif;
// $georgia: Georgia, serif;
// $univers: "UniversLTW01-57Condense 723821", sans-serif;
// $univers-bold: "UniversLTW01-67BoldCn", sans-serif;

// Global Colors
$blue: #369;
$blue-light: #3b73ac;
$blue-dark: #2e5b87;
$offBlack: #111;	

// Global Variables
$maxWidth: 960px;
$linkColor: $red-dark;

$fontColor: $offBlack;
$fontFamily: $din-light;

$headingFontFamily: $din-black;
$headingColor: $red-dark;

$userToolsBackgroundColor: $black; //Background Color for usertools
$userToolsColor: $white; //Font Color for usertools
$userToolsLinkColor: $grey-light; //Font Color for usertools
$userToolsHoverColor: $white; //Font Color for usertools

$buttonFontColor: $white; // Default Color for Button Font
$altButtonFontColor: $white; // Alt Color for Buttons Font

@mixin gradient($color1, $color2){
	background-color: $color1;
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image: -moz-linear-gradient(top, $color1, $color2);
	background-image: -ms-linear-gradient(top, $color1, $color2);
	background-image: -o-linear-gradient(top, $color1, $color2);
	background-image: linear-gradient(top, $color1, $color2);
}

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper{
	@extend .v65-group;
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}