html {
  font-size: 13px;
}

body {
  background-color: #fcf9e9;
  color: #111111;
  font-family: Georgia, serif;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #c0321e;
  font-family: "UniversLTW01-67BoldCn", sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h1.featureTitle {
  border-bottom: 3px solid #c0321e;
  border-top: 3px solid #c0321e;
  clear: both;
  display: inline-block;
  text-align: center;
  font-size: 4.8em;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  padding: 0.16em 0;
}

h2 {
  font-size: 2.25em;
  line-height: 1.3333333333333333;
  margin-bottom: 0.6666666666666666em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4{
  font-size: 1.3125em;
  line-height: 1.1428571428571428;
  margin-bottom: 1.1428571428571428em;
}

h5 {
  font-family: Georgia, serif;
  font-size: 1.125em;
  line-height: 1.3333333333333333;
  margin-bottom: 1.3333333333333333em;
  text-transform: none;
}

h6 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
  text-transform: none;
}

p, blockquote {
  margin: 0 0 1.5em;
  line-height: 1.5;
}

dl, ol, ul {
  margin: 0 0 1.5em;
}

dd, dt, li {
  line-height: 1.5;
  margin: 0;
}

a {
  color: #c0321e;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}

img {
  border: none;
  height: auto !important;
  max-width: 100%;
}

form {
  margin-bottom: 1em;
}

legend {
  color: #111111;
}

hr {
  background-color: #111111;
  border: 0;
  color: #111111;
  height: 1px;
}

/* Standard V65 Styles - don't remove */

/* Images */
img.v65-featureRight { border: 1px solid #ccc; float: right; padding: 3px; margin: 0 0 1em 1em; }
img.v65-right { float: right; padding: 0; margin: 0 0 1em 1em; }

img.v65-featureLeft { border: 1px solid #ccc; float: left; padding: 3px; margin: 0 1em 1em 0; }
img.v65-left { float: left; padding: 0; margin: 0 1em 1em 0; }

img.v65-border { border: 1px solid #ccc; padding: 3px; }

/*Pull Quotes*/
.v65-quoteRight { width: 33%; border: 1px solid #ccc; background-color: #eee; color: #555; font: italic 1.17em/1.5em Georgia, "Times New Roman", Times, serif; float: right; padding: 0.65em; margin: 0 0 1em 1em; }
	.v65-quoteRight:first-letter { display:block; float: left; margin: 4px 8px 0 0; font-size: 3.2em; }
.v65-quoteLeft { width: 33%; border: 1px solid #ccc; background-color: #eee; color: #555; font: italic 1.17em/1.5em Georgia, "Times New Roman", Times, serif; float: left; padding: 0.65em; margin: 0 1em 1em 0; }
	.v65-quoteLeft:first-letter { display:block; float: left; margin: 4px 8px 0 0; font-size: 3.2em; }	

/*Other*/
.small 			{ font-size: 0.917em; }
	.small a 	{ font-weight: bold; }
.smaller 			{ font-size: 0.834em; }
	.smaller a 	{ font-weight: bold; }