// Colors
$grey: #575757;
$grey-light: #ccc;
$grey-dark: #333;
$black: #000;
$white: #fff;
$offWhite: #f1f1f1;

$backgroundColor: $offWhite;
$headingFontColor: $grey-dark; // Default Heading Font Color
$headerFontColor: $grey-dark; //Font Color outside the container
$headerFontColorHover: $black; // Hover font color outside the container

$navLinkColor: $black; //Font Color for main navigation
$subNavLinkColor: $black; //Font Color for sub navigation

$homepageContentColor: $white; // Homepage content background color
$contentBackgroundColor: $white; //Content background color

$footerColor: $grey; //Footer Color
$footerLink: $grey-light; // Footer Link
$footerLinkHover: $white; // Footer Link Hover

$footerFontColor: $grey-dark; //Font Color outside the container
$footerFontColorHover: $black; // Hover font color outside the container

$boxShadowColor: #999; // Box Shadow Color

$logo: 'logo.png';
$logo-retina: 'logo@2x.png';