// Colors
$grey: #575757;
$grey-light: #ccc;
$grey-dark: #333;
$black: #000;
$white: #fff;
$red: #790102;

$backgroundColor: $red;
$headingFontColor: $grey-dark; // Default Heading Font Color
$headerFontColor: $white; //Font Color outside the container
$headerFontColorHover: $grey-light; // Hover font color outside the container

$navLinkColor: $black; //Font Color for main navigation
$subNavLinkColor: $black; //Font Color for sub navigation

$homepageContentColor: $white; // Homepage content background color
$contentBackgroundColor: $white; //Content background color

$footerColor: $white; //Footer Color
$footerLink: $white; // Footer Link
$footerLinkHover: $grey-light; // Footer Link Hover

$footerFontColor: $white; //Font Color outside the container
$footerFontColorHover: $grey-light; // Hover font color outside the container

$boxShadowColor: #3d3d3d; // Box Shadow Color